{{#each this}}
<div class="col-xs-12 col-md-6">
  <div class="caption">  
    <div>
    {{#each this}}
      <h2>Temperature: {{temp}}</h2>
      <h3>Air Pressure: {{pressure}}</h3>
      <h3>Forecast Date: {{date}}</h3>
    {{/each}}
    </div>
  </div>
</div>  
{{/each}}