{{#each this}}
<div class="col-xs-12 col-md-6" data-key={{@key}}>
  <div class="caption">
    <div>
    {{#each this}}
      <h2>Forecast Date: {{date}}</h2>
      <h3>Temperature: {{temp}}</h3>
      <h3>Air Pressure: {{pressure}}</h3>
    {{/each}}
    </div>
    <button type="button" id="deleteSave">Delete From Saved</button>
  </div>
</div>  
{{/each}}