{{#each this}}
<div class="col-xs-12 col-md-6">
  <div class="caption">	 
	  <div>	
  	  <h2>{{this.main.temp}}</h2>
  	  <h3>{{this.weather.[0].main}}</h3>
  	  <ul>
				<li>{{this.main.pressure}}</li>
				<li>{{this.wind.speed}}</li>
  	  </ul>
  	</div>
  </div>
</div>  
{{/each}}