<div class="col-xs-12 col-md-6">
  <div class="caption">
	 {{#each this}}
	  <div>	
  	  <h2>{{temp}}</h2>
  	  <h3>{{pressure}}</h3>
  	</div>
     <button id="threeDay#{{@city}}">7 Day</button>
    {{/each}}
  </div>
</div>  